<div class="row-fluid">  
      <%= form_for(@pelicula) do |f| %>
          <% if @pelicula.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@pelicula.errors.count, "error") %> prohibited this pelicula from being saved:
              </h2>

              <ul>
              <% @pelicula.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
              </ul>
            </div>
          <% end %>
          <div class="span6">
              <div class="field">
                <%= f.label :titulo %><br>
                <%= f.text_field :titulo %>
              </div>
              <div class="field">
                <%= f.label :director %><br>
                <%= f.text_field :director %>
              </div>
              <div class="field">
                <%= f.label :critica %><br>
                <%= f.text_field :critica %>
              </div>
        </div>
         <% formato={'BRrip'=>'BRrip','DVDrip'=> 'DVDrip', 'Screemrip'=>'Screemrip', 'DVDscreem'=>'DVDscreem' } %>
         <% lista= formato.sort %>
        <div class="span6">
              <div class="field">
                <%= f.label :formato %><br>
                <%= f.select :formato, lista %>
              </div>
              <div class="field">
                <%= f.label :torrent %><br>
                <%= f.text_field :torrent %>
              </div>
              <div class="field">
                <%= f.label :sub %><br>
                <%= f.text_field :sub %>
              </div>
              <div class="field">
                <%= f.label :img %><br>
                <%= f.text_field :img %>
              </div>
              <div class="field">
                <%= f.label :año %><br>
                <%= f.date_select :ano %>
              </div>
              <div class="field">
                <%= f.label :sinopsis %><br>
                <%= f.text_area :sinopsis, :cols=>60, rows: 10 %>
              </div>
              <div class="actions">
                <%= f.submit'Aceptar', :class => 'btn btn-success' %>
                <%= link_to "Volver", peliculas_path  , :class => 'btn btn-default'  %>
              </div>

         </div>     
      <% end %>
</div>
    